.text {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 0%;
  margin: 4em auto;
  display: block;
  transition: all 2s;
}
.text:hover {
  transition: all 2s;
  border-bottom-left-radius: 50%;
}
